@import 'variables.scss';
@import 'bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import 'font-awesome/scss/font-awesome.scss';
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }
